<!--
  Generated template for the ReplayNotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-nav-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> <ion-icon name="md-mail" item-start></ion-icon> Replay </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <notification [category]="category"  [notification]="notification" [isReplay]="true"></notification>
  <div *ngIf="replays==undefined">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <div *ngIf="replays!=undefined">
    <!-- TO-DO display the replays -->
  </div>
  <hr>
  <div class="replay-form-container">
    <form>
      <ion-textarea placeholder="Replay Content"></ion-textarea>
      <ion-row>
        <ion-col>
          <button ion-button round block color="primary" icon-start>
            <ion-icon name="ios-send-outline"></ion-icon>
            Send
          </button>
        </ion-col>
        <ion-col>
          <button ion-button round block color="danger" icon-start>
            <ion-icon name="ios-close-outline"> </ion-icon> 
            Cancel
          </button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>