page-replay-notification {

}

.replay-form-container{
    ion-textarea{
        border: 1px solid darkgray;
        border-radius: 8px;
        height: 6em;
    }

    ion-icon{
        font-size: 2.2em;
        margin-right: 20px;
    }
}