category {

}

.category-button{
    background-color: rgba(179, 224, 176, 0.3);
    ion-icon{
        color: rgba(75, 93, 187, 0.81);
    }
    padding: 0;

    ion-label{
        margin: 0;
    }

    ion-col{
        padding: 0;
    }
}