    .category{
        box-shadow: 18px 11px 65px -23px;
        border-radius: 5px;
    }

.category-button{
    background-color: rgba(179, 224, 176, 0.3);
    ion-icon{
        color: rgba(75, 93, 187, 0.81);
    }
    padding: 0;

    ion-label{
        margin: 0;
    }

    ion-col{
        padding: 0;
    }

    .title-container{
        margin-top: 29%;
        margin-left: 16%;
    }
    img{
        border-radius: 5px;
    }
}