<ion-header class="main-nav-header">
  <ion-navbar>
    <ion-title>{{category.category_Name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-segment [(ngModel)]="currentTab">
    <ion-segment-button value="sub-categories">
      Sub-Categories
    </ion-segment-button>
    <ion-segment-button value="notification">
      Notification
    </ion-segment-button>
  </ion-segment>
    <div *ngIf="currentTab == 'sub-categories'">
      <div *ngIf="subCategories == undefined">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
      <div *ngIf="subCategories != undefined">
        <div *ngIf="canAddCategory()">
          <button ion-button block color="primary" class="add-button" (click)="addCategory()">
            <ion-icon name="ios-add-circle-outline" class="add-icon"></ion-icon>
          </button>
        </div>
        <category *ngFor="let category of subCategories" [category]="category"></category>
      </div>
  </div>
  <div *ngIf="currentTab == 'notification'">
    <div *ngIf="categories_notifications == undefined">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <div *ngIf="categories_notifications != undefined">      
      <div *ngIf="isAddNotification == true">
        <form class="add-notification-form">
          <ion-textarea placeholder="Replay Content" #notificationContent></ion-textarea>
          <ion-row>
            <ion-col>
              <button ion-button  block color="primary" icon-start (click)="onAddNotification()">
                <ion-icon name="ios-add-outline"></ion-icon>
                Add
              </button>
            </ion-col>
            <ion-col>
              <button ion-button  block color="light" class="camera-button">
                <ion-icon name="ios-camera-outline" class="camera-icon"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button block color="danger" icon-start (click)="addNotification()">
                <ion-icon name="ios-close-outline"> </ion-icon> 
                Cancel
              </button>
            </ion-col>
          </ion-row>
        </form>
      </div>
      <div *ngIf="isAddNotification == false">
        <button ion-button block color="primary" class="add-button" (click)="addNotification()">
          <ion-icon name="ios-add-circle-outline" class="add-icon"></ion-icon>
        </button>
      </div>
      <div *ngFor="let cat_ntf of categories_notifications">
        <div *ngFor="let ntf of cat_ntf.notifications">
          <notification [category]="{id:cat_ntf.category_ID,name: cat_ntf.category_Name}" [cityId]="cat_ntf.cityID" [notification]="ntf"></notification>
        </div>
      </div>
    </div>
  </div>  
</ion-content>
