<ion-header class="main-nav-header">
  <ion-navbar>
    <ion-title>{{category.category_Name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-segment [(ngModel)]="currentTab">
    <ion-segment-button value="sub-categories" *ngIf="canAddNotifications == false">
      Sub-Categories
    </ion-segment-button>
    <ion-segment-button value="notification">
      Notification
    </ion-segment-button>
  </ion-segment>
    <div *ngIf="currentTab == 'sub-categories'">
      <div *ngIf="subCategories == undefined">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
      <div *ngIf="subCategories != undefined">
        <div *ngIf="canAddCategory()">
          <button ion-button block color="primary" class="add-button" (click)="addCategory()">
            <ion-icon name="ios-add-circle-outline" class="add-icon"></ion-icon>
          </button>
        </div>
        <category *ngFor="let category of subCategories" [category]="category"></category>
      </div>
  </div>
  <div *ngIf="currentTab == 'notification'">
    <div *ngIf="notifications == undefined">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <div *ngIf="notifications != undefined">
      <div *ngIf="canAddNotification()">
        <div *ngIf="isAddNotification == true">
          <add-notification (onCancel)="addNotification()" [categoryId]="category.category_ID"></add-notification>
        </div>
        <div *ngIf="isAddNotification == false">
          <button ion-button block color="primary" class="add-button" (click)="addNotification()">
            <ion-icon name="ios-add-circle-outline" class="add-icon"></ion-icon>
          </button>
        </div>
      </div>
      <div *ngFor="let notification of notifications.notifications; let i = index">
        <notification [category]="{id:notifications.category_ID[i]}" [notification]="notification"></notification>
      </div>
    </div>
  </div>  
</ion-content>
