.main-nav-header .toolbar-background{
    background-color: #8dda8f;
}

.ion-spinner * {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
  margin-left: 45%;
}

ion-spinner{
    margin-left: 45%;
    margin-top: 4%;
}

.menu-item{
    background-color: #f2fff2;
}

.menu-button{
    border-bottom: 1px solid rgba(128, 128, 128, 0.28);
    background-color: #f2fff2 !important;
}
