page-privilege-requests {
    .request-container{
        height: 150px;
        margin-bottom: 10px;
        background-color: rgba(251, 0, 14, 0.22);
        border-radius: 10px 50px 10px 50px;
        box-shadow: 3px 4px 100px -33px;
    }

    button{
        border-radius: 14px;
        opacity: .78;
        [color='danger']{

        }
        [color='primary']{
            background-color: rgba(72, 255, 143, 0.69);
        }
    }
}
