<!--
  Generated template for the AdminsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-nav-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Admins</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let adminsInCategorie of adminsInCategories" class="">
      <ion-list-header>{{adminsInCategorie.categoryName}}</ion-list-header>
      <ion-item *ngFor="let admin of adminsInCategorie.admins" (click)="openMenu(admin, adminsInCategorie)">
        <ion-avatar item-start>
          <img [src]="'../../assets/profile_img/'+admin.img">
        </ion-avatar>
        <h2>{{admin.name}}</h2>
        <p>
          {{admin.bio}}
        </p>
      </ion-item>
      <button ion-button block color="primary" (click)="showNewAdmin(adminsInCategorie)">
        <ion-icon name="ios-add-circle-outline" class="add-icon">
        </ion-icon>
      </button>
    </ion-card>
  </ion-list>
</ion-content>
